
hr {
    color: green;
    opacity: 10;
}

/* Estilos para la barra de navegación */
.navbar-nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    list-style: none;
    /* Quitar los puntos de la lista */
}

.nav-link {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    /* Quitar el subrayado predeterminado del enlace */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Agregar transiciones */
}

.nav-link:hover {
    background-color: #eee;
    /* Color de fondo al pasar el ratón sobre el enlace */
    color: #333;
    /* Cambia el color del texto al pasar el ratón sobre el enlace */
}


#services .container {
    width: 70%;
    margin: 0 auto;
}

#services .row.text-center.g-4 .col-md-4 {
    width: 29%;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    /* Transición para el efecto hover */
}

#services .row.text-center.g-4 .col-md-4:hover {
    transform: scale(1.05);
    /* Agranda la tarjeta en un 5% en el efecto hover */
}

#services .card.bg-dark.text-light {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Transiciones para el cambio de color */
}

#services .card.bg-dark.text-light img {
    width: 100%;
    height: auto;
    /* Cambiado a "auto" para mantener la proporción original */
    border-radius: 10px;
}

#services .h1.mb-3 {
    color: #f00;
    /* Cambia el color del icono h1 si es necesario */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    #services .row.text-center.g-4 .col-md-4 {
        width: 100%;
        margin: 20px 0;
    }
}